#### 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [4]:
years_list=[]
dob=1980
for i in range(6):
    years_list.append(i+dob)
    
years_list

[1980, 1981, 1982, 1983, 1984, 1985]

#### 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [8]:
for age,year in enumerate(years_list):
    print(f'Age was {age}, at the year of {year}')

Age was 0, at the year of 1980
Age was 1, at the year of 1981
Age was 2, at the year of 1982
Age was 3, at the year of 1983
Age was 4, at the year of 1984
Age was 5, at the year of 1985

#### 3.In the years list, which year were you the oldest?

In [19]:
print(f'oldest at the year of :{max(years_list)}')

oldest at the year of :1985

#### 4. Make a list called things with these three strings as elements: 'mozzarella', 'cinderella','salmonella'.

In [12]:
things=['mozzarella', 'cinderella','salmonella']
things

['mozzarella', 'cinderella', 'salmonella']

#### 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [20]:
for i in things:
    print(i.capitalize())

Mozzarella
Cinderella
Salmonella

#### 6. Make a surprise list with the elements 'Groucho', 'Chicoâ€™ and 'Harpo.'

In [18]:
surprise=['Groucho', 'Chico','Harpo']
surprise

['Groucho', 'Chico', 'Harpo']

#### 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [33]:
print(f'last element of surpeise list with lower case :{surprise[-1].lower()}')
print(f'reversing the order :{surprise[-1][::-1]}')
print(f'conversion into upper case:{surprise[-1][::-1].upper()}')

last element of surpeise list with lower case :harpo
reversing the order :opraH
conversion into upper case:OPRAH

#### 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [34]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

#### 9. Write the French word for walrus in your three-word dictionary e2f.

In [35]:
e2f['walrus']

'morse'

#### 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [65]:
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [94]:
f2e = {}
 
for k, v in e2f.items():
    f2e[v]= f2e.get(v,k)
 
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

#### 11. Print the English version of the French word chien using f2e.

In [97]:
f2e["chien"]

'dog'


#### 12. Make and print a set of English words from the keys in e2f.

In [95]:
for k, v in e2f.items():
    print(k)

dog
cat
walrus

In [96]:
 e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

#### 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: [animals], [plants],and [other]. 

1. Make the [animals] key refer to another dictionary with the keys [cats], [octopi], and [emus]. 
2. Make the [cats] key refer to a list of strings with the values [Henri], [Grumpy], and [Lucy].
3. Make all the other keys refer to empty dictionaries.

In [98]:
life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

#### 14. Print the top-level keys of life.

In [103]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

#### 15. Print the keys for life['animals']

In [111]:
life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

#### 16. Print the values for life[animals][cats]

In [120]:
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']