##Pattern using for loop

In [ ]:
x=5

for i in range(0,x):
  for j in range(0,x-i):
    print("* ",end="")
  
  print("\r")

* * * * *
* * * *
* * *
* *
*

In [ ]:
x=5
for i in range(0,x):
  for j in range(0,x-i):
    print(" ",end="")

  for j in range(0,i+1):
    print("* ",end="")
  
  
  print("\r")

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
x=5
for i in range(x,0,-1):
  for j in range(x-i):
    print(" ",end="")

  for j in range(0,i):
    print("* ",end="")
  
  
  print("\r")

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
x=4
for i in range(0,x):
  for j in range(0,i*2-1):
    print("*",end="")
  print("\r")

*
***
*****

##Pattern using while loop

In [ ]:
n=5
i=0
while i<n:
  print(" "*(n-i-1)+"* "*(i+1))
  i=i+1

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=5
i=0
while i<n:
  print(" "*(i+1)+"* "*(n-i-1))
  i=i+1

 * * * *
  * * *
   * *
    *

In [ ]:
n=8
i=0
while i<n:
  print(" "*(i+1)+"* "*(n-i*2-1))
  i=i+1

 * * * * * * *
  * * * * *
   * * *
    *

In [ ]:
n=8
i=0
while i<n:
  print(" "*(i+i+1)+"* "*(n-i*2-1))
  i=i+1

 * * * * * * *
   * * * * *
     * * *
       *

##list

In [ ]:
lis=['apple','orange',[10,2,3,4]]

In [ ]:
lis

['apple', 'orange', [10, 2, 3, 4]]

In [ ]:
for i in lis:
  print(i,end="")
  print(type(i))

apple<class 'str'>
orange<class 'str'>
[10, 2, 3, 4]<class 'list'>

In [ ]:
for i in lis:
  if type(i)==list:
    continue;
print("present")

present

In [ ]:
for i in lis:
  if type(lis)==list:
    n=0
    for j in i:
      if type(j)==int:
        n=n+j
print(n)

19

## indexes and strings

In [ ]:
sentence= 'my name is engine nova'

In [ ]:
sentence.find('name') # find index value

3

In [ ]:
sentence[3:7]

'name'

In [ ]:
## finding the index of name :
x=sentence.find('name')
for i in range(len("name")):
  print(x+i,end='  ')

3  4  5  6

In [ ]:
sentence.count("a") # a occured 2 times

2

In [ ]:
sentence.split(" ")

['my', 'name', 'is', 'engine', 'nova']

In [ ]:
sentence.swapcase() # change the character into upper /lower

'MY NAME IS ENGINE NOVA'

In [ ]:
print("\n")
"  ".join(sentence)

'm  y     n  a  m  e     i  s     e  n  g  i  n  e     n  o  v  a'

In [ ]:
sentence.replace("e","ry")

'my namry is rynginry nova'

In [ ]:
sentence # string are immutable

'my name is engine nova'

In [ ]:
xx="we all are a part Of full Stack "
xx

'we all are a part Of full Stack '

In [ ]:
lower=xx.lower()
print(lower)
print(xx.upper())
cnt=xx.count('a')
print(f'total count :{cnt}')
#####################
for i in xx:
  print(i)

we all are a part of full stack
WE ALL ARE A PART OF FULL STACK
total count :5
w
e

a
l
l

a
r
e

a

p
a
r
t

O
f

f
u
l
l

S
t
a
c
k

In [ ]:
#####################

for i in range(len(xx)):
  if lower[i]=="a":
    print(i,end='  ')
  else:
    continue;

#################
rplc=xx.replace("a","ineuron")
print(f"\n {rplc} \n")
    
#####################

xx.split(' ')

3  7  11  14  28
 we ineuronll ineuronre ineuron pineuronrt Of full Stineuronck

['we', 'all', 'are', 'a', 'part', 'Of', 'full', 'Stack', '']

## paleindrom:

In [ ]:
s = input()
s1=s[::-1]
if s1==s:
  print(f"palendrome:{s}")
else :
  print("not a palendrome")

Sos
not a palendrome

## Extend,Append,Insert

In [ ]:
l=[1,2,3,4,5]

In [ ]:
l.append(3)
l

[1, 2, 3, 4, 5, 3, 3]

In [ ]:
l.insert(3,"a")
l

[1, 2, 3, 'a', 4, 5, 3, 3]

In [ ]:
l.extend(["funny",1,3,45])
l

[1, 2, 3, 'a', 4, 5, 3, 3, 'f', 'u', 'n', 'funny', 1, 3, 'funny', 1, 3, 45]

In [ ]:
l.extend(33)
l

In [ ]:
l

[1, 2, 3, 'a', 4, 5, 3, 3, 'f', 'u', 'n', 'funny', 1, 3, 'funny', 1, 3, 45, 23]

In [ ]:
li=[[1,2,3],["msn","mn"],5,'n']
print(li)
li.insert(3,(5+1j))
print(f"new list:{li}")

[[1, 2, 3], ['msn', 'mn'], 5, 'n']
new list:[[1, 2, 3], ['msn', 'mn'], 5, (5+1j), 'n']

In [ ]:
type(li[3])

complex

In [ ]:
# extracting the list:
for i in  range(len(li)):
  if type(li[i])==list:
    print(f"position: {i} list : {li[i]}")
  else:
      continue;
li
print(f"renameing: {li[1][0]} to:")
li[1].insert(0,"msn")
li[1].pop(1)
li

position: 0 list : [1, 2, 3]
position: 1 list : ['msn', 'nms', 'nms', 'nms', 'msn', 'mn']
renameing: msn to:

[[1, 2, 3], ['msn', 'nms', 'nms', 'nms', 'msn', 'mn'], 5, (5+1j), 'z']

In [ ]:
print(f"second elements of nested are {li[0][1]} and {li[1][1]}")

second elements of nested are 2 and nms

In [ ]:
# creating the list the list:
x=[]
y=[]
for i in  range(3):
  x.append(input())
  y.append(input())

print(x,y)

van
45
76
man
67
hp
['van', '76', '67'] ['45', 'man', 'hp']

In [ ]:
items=[]

items.append(5)
items.append(["lane",45,"rain"])
items.append([5,6])
items.append(["msn",21])
items.insert(3,(5+1j))
print(f"new list:{items}")

new list:[5, ['lane', 45, 'rain'], [5, 6], (5+1j), ['msn', 21]]

In [ ]:
# extracting the list:
new_li=[]

for i in  range(len(items)):
  if type(items[i])==list:
    print(f"list is persent at index {i} following list is {items[i]}")
    for j in range(len(items[i])):
      if type(items[i][j])==str:   
        print(f"the string data is :'{items[i][j]}' position at nested list is:{j}\n")
        continue;   
      else:
        new_li.append([items[i][j]]);
  else:
    new_li.append(items[i])
print(f'new item list after removing the strings is {new_li}')

list is persent at index 1 following list is ['lane', 45, 'rain']
the string data is :'lane' position at nested list is:0

the string data is :'rain' position at nested list is:2

list is persent at index 2 following list is [5, 6]
list is persent at index 4 following list is ['msn', 21]
the string data is :'msn' position at nested list is:0

new item list after removing the strings is [5, [45], [5], [6], (5+1j), [21]]

In [ ]:
items.reverse()

In [ ]:
items

[['msn', 21], (5+1j), [5, 6], ['lane', 45, 'rain'], 5]

## set:
1. Gives the unique set of available data.
2. Sets are immutables
3. NOT seseptible.

In [ ]:
a=[1,3,"m",3,2,3,"n"]

In [ ]:
st=set(a)
st

{1, 2, 3, 'm', 'n'}

## List And Tuples
1. List Can be mutable. [  ]
2. Tuples are immutable (  )

In [ ]:
## List
lst=list(a)
lst

[1, 3, 'm', 3, 2, 3, 'n']

In [ ]:
## Tuples:
tpl=tuple(a) 
tpl

(1, 3, 'm', 3, 2, 3, 'n')

In [ ]:
z={6:{1,2,3}}
tuple(e[6])[0]

## Dictionary


1.   Need to be in pair ie key :Value.  {"name":"msn"}
2.   Else will be considered as set as both represented by the paranthesis.{}

3. key should be unique else it will keep on update the data every time the same key is mentioned with different Value.

4. for KEY:
    * Special characters are not allowed.
    * It can be a tuples but cannot be a list

In [ ]:
x={}
type(x)

dict

In [ ]:
diction={"items": 'apple' ,"price(in rupees)":20 ,"other fruits":["orange","Banana","Guava",2]}
diction

{'items': 'apple',
 'other fruits': ['orange', 'Banana', 'Guava', 2],
 'price(in rupees)': 20}

In [ ]:
diction["other fruits"]

['orange', 'Banana', 'Guava', 2]

In [ ]:
diction["other fruits"][0:2]

['orange', 'Banana']

In [ ]:
diction.keys()

dict_keys(['items', 'price(in rupees)', 'other fruits'])

In [ ]:
for i in diction.keys():  
  print(diction[i],end=" ")
  print(type(diction[i]))  
  if type(diction[i])==list:
    print("\nInside List values are:")
    for j in range(len(diction[i])):
      print(f" {(diction[i][j])} {type(diction[i][j])}, and the location index is:{j}")

apple <class 'str'>
20 <class 'int'>
['orange', 'Banana', 'Guava', 2] <class 'list'>

Inside List values are:
 orange <class 'str'>, and the location index is:0
 Banana <class 'str'>, and the location index is:1
 Guava <class 'str'>, and the location index is:2
 2 <class 'int'>, and the location index is:3

In [ ]:
type(diction['other fruits'][2])

str

In [ ]:
#take input and convert into list:
inp=input("")
a=inp.split(" ")

दोस्तो हमने यहां आपको सीएससी के अंतर्गत कार्य करने वाली कुछ सर्विस और उसका डायरेक्ट लिंक दिया है तो आप बिना कहीं भटके अपने मनचाहे सर्विस का आनंद एक ही जगह से ले सकते हैं । यहां पर सीएससी की हर सर्विस और उसका डायरेक्ट लिंक मिलता रहेगा यहां पर भविष्य में लिंक भी अपडेट किए जा सकते हैं ।

In [ ]:
a

['दोस्तो',
 'हमने',
 'यहां',
 'आपको',
 'सीएससी',
 'के',
 'अंतर्गत',
 'कार्य',
 'करने',
 'वाली',
 'कुछ',
 'सर्विस',
 'और',
 'उसका',
 'डायरेक्ट',
 'लिंक',
 'दिया',
 'है',
 'तो',
 'आप',
 'बिना',
 'कहीं',
 'भटके',
 'अपने',
 'मनचाहे',
 'सर्विस',
 'का',
 'आनंद',
 'एक',
 'ही',
 'जगह',
 'से',
 'ले',
 'सकते',
 'हैं',
 '।',
 'यहां',
 'पर',
 'सीएससी',
 'की',
 'हर',
 'सर्विस',
 'और',
 'उसका',
 'डायरेक्ट',
 'लिंक',
 'मिलता',
 'रहेगा',
 'यहां',
 'पर',
 'भविष्य',
 'में',
 'लिंक',
 'भी',
 'अपडेट',
 'किए',
 'जा',
 'सकते',
 'हैं',
 '।']

In [ ]:
#removing the duplicate element:
set(a)

{'अंतर्गत',
 'अपडेट',
 'अपने',
 'आनंद',
 'आप',
 'आपको',
 'उसका',
 'एक',
 'और',
 'करने',
 'कहीं',
 'का',
 'कार्य',
 'किए',
 'की',
 'कुछ',
 'के',
 'जगह',
 'जा',
 'डायरेक्ट',
 'तो',
 'दिया',
 'दोस्तो',
 'पर',
 'बिना',
 'भटके',
 'भविष्य',
 'भी',
 'मनचाहे',
 'मिलता',
 'में',
 'यहां',
 'रहेगा',
 'लिंक',
 'ले',
 'वाली',
 'सकते',
 'सर्विस',
 'सीएससी',
 'से',
 'हमने',
 'हर',
 'ही',
 'है',
 'हैं',
 '।'}

In [ ]:
# Converting set to dictionary
dictionary=dict.fromkeys(a,"msn")
dictionary

{'अंतर्गत': 'msn',
 'अपडेट': 'msn',
 'अपने': 'msn',
 'आनंद': 'msn',
 'आप': 'msn',
 'आपको': 'msn',
 'उसका': 'msn',
 'एक': 'msn',
 'और': 'msn',
 'करने': 'msn',
 'कहीं': 'msn',
 'का': 'msn',
 'कार्य': 'msn',
 'किए': 'msn',
 'की': 'msn',
 'कुछ': 'msn',
 'के': 'msn',
 'जगह': 'msn',
 'जा': 'msn',
 'डायरेक्ट': 'msn',
 'तो': 'msn',
 'दिया': 'msn',
 'दोस्तो': 'msn',
 'पर': 'msn',
 'बिना': 'msn',
 'भटके': 'msn',
 'भविष्य': 'msn',
 'भी': 'msn',
 'मनचाहे': 'msn',
 'मिलता': 'msn',
 'में': 'msn',
 'यहां': 'msn',
 'रहेगा': 'msn',
 'लिंक': 'msn',
 'ले': 'msn',
 'वाली': 'msn',
 'सकते': 'msn',
 'सर्विस': 'msn',
 'सीएससी': 'msn',
 'से': 'msn',
 'हमने': 'msn',
 'हर': 'msn',
 'ही': 'msn',
 'है': 'msn',
 'हैं': 'msn',
 '।': 'msn'}

In [ ]:
# extracting the value:
print("values:\n")
for i in dictionary:
  print(tuple(dictionary[i]),end="")

values:

('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')('m', 's', 'n')

In [ ]:
# extracting the value:
print("values:\n")
for i in dictionary:
  print(dictionary[i],end=" ")

values:

msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn msn

In [ ]:
# extracting the keys:
print("keys:\n")
for i in dictionary:
  print(list(i),end="  ")

keys:

['द', 'ो', 'स', '्', 'त', 'ो']  ['ह', 'म', 'न', 'े']  ['य', 'ह', 'ा', 'ं']  ['आ', 'प', 'क', 'ो']  ['स', 'ी', 'ए', 'स', 'स', 'ी']  ['क', 'े']  ['अ', 'ं', 'त', 'र', '्', 'ग', 'त']  ['क', 'ा', 'र', '्', 'य']  ['क', 'र', 'न', 'े']  ['व', 'ा', 'ल', 'ी']  ['क', 'ु', 'छ']  ['स', 'र', '्', 'व', 'ि', 'स']  ['औ', 'र']  ['उ', 'स', 'क', 'ा']  ['ड', 'ा', 'य', 'र', 'े', 'क', '्', 'ट']  ['ल', 'ि', 'ं', 'क']  ['द', 'ि', 'य', 'ा']  ['ह', 'ै']  ['त', 'ो']  ['आ', 'प']  ['ब', 'ि', 'न', 'ा']  ['क', 'ह', 'ी', 'ं']  ['भ', 'ट', 'क', 'े']  ['अ', 'प', 'न', 'े']  ['म', 'न', 'च', 'ा', 'ह', 'े']  ['क', 'ा']  ['आ', 'न', 'ं', 'द']  ['ए', 'क']  ['ह', 'ी']  ['ज', 'ग', 'ह']  ['स', 'े']  ['ल', 'े']  ['स', 'क', 'त', 'े']  ['ह', 'ै', 'ं']  ['।']  ['प', 'र']  ['क', 'ी']  ['ह', 'र']  ['म', 'ि', 'ल', 'त', 'ा']  ['र', 'ह', 'े', 'ग', 'ा']  ['भ', 'व', 'ि', 'ष', '्', 'य']  ['म', 'े', 'ं']  ['भ', 'ी']  ['अ', 'प', 'ड', 'े', 'ट']  ['क', 'ि', 'ए']  ['ज', 'ा']

In [ ]:
# extracting the keys:
print("keys:\n")
for i in dictionary:
  print(i,end="  ")

keys:

दोस्तो  हमने  यहां  आपको  सीएससी  के  अंतर्गत  कार्य  करने  वाली  कुछ  सर्विस  और  उसका  डायरेक्ट  लिंक  दिया  है  तो  आप  बिना  कहीं  भटके  अपने  मनचाहे  का  आनंद  एक  ही  जगह  से  ले  सकते  हैं  ।  पर  की  हर  मिलता  रहेगा  भविष्य  में  भी  अपडेट  किए  जा

## function:

In [ ]:
def fun(x,y):
  return x,y

In [ ]:
fun(2,3)

(2, 3)

In [ ]:
def fun2(x,y):
  return x,x*2,y*2

In [ ]:
fun2(2,3)

(2, 4, 6)

In [ ]:
fun2([2,3,4],[1,2])

([2, 3, 4], [2, 3, 4, 2, 3, 4], [1, 2, 1, 2])

In [ ]:
def boolx(x=True,y=False):
  return x+y

In [ ]:
boolx()

1

## *arg and **kwarg:


*   **arg** : return in the form of tuple and can take any value.
*   **kwarg** :return in the form of Dictionary can take only **KEY:VALUE** data i/P

In [ ]:
def arg(*args):
  return args

arg([2,3],[3,4],[2.3,3,4,4,6])

([2, 3], [3, 4], [2.3, 3, 4, 4, 6])

In [ ]:
def arg1(*args):# arg ia an iterator
  my=[]
  for i in args:
    my=my+i
  return my

In [ ]:
arg1([2,3],[3,4],[2.3,3,4,4,6])

[2, 3, 3, 4, 2.3, 3, 4, 4, 6]

In [ ]:
def kwarg(**kwargs):
  return kwargs

kwarg(a=[2,3],b=[3,4],c=[2.3,3,4,4,6])

{'a': [2, 3], 'b': [3, 4], 'c': [2.3, 3, 4, 4, 6]}

In [ ]:
## SSQ

def q1(*args):
  lest=[]
  strang=[]
  integer=[]
  boolen=[]
  taple=[]
  for i in args:
    if type(i)==list:
      lest=lest+i
    elif type(i)==bool:
      boolen.append(i)
    elif type(i)==str:
      strang.append(i)
    elif type(i)==tuple:
      taple.append(i)
    elif type(i)==int:
      integer.append(i)
    else:
      continue
  listdt=print(f"list datatype:{lest}")
    
  stringdt=print(f"String datatype:{strang}")
    
  integerdt=print(f"Integer datatype:{integer}")
    
  boolendt=print(f"boolen datatype:{boolen}")

  tapledt=print(f"taple datatype:{taple}")
    
  return

In [ ]:
q1(1,"a","msn",[1,2],[32,"3","msn"],("s",3),True)

list datatype:[1, 2, 32, '3', 'msn']
String datatype:['a', 'msn']
Integer datatype:[1]
boolen datatype:[True]
taple datatype:[('s', 3)]

In [ ]:
def funct1(*args,**kwargs):
  concatelist=[]
  for i in args:
    if type(i)==list:
      concatelist.append(i)


  for j in kwargs.items():
    if type(j[1])==list:
      
      concatelist.append(j[1])
  return concatelist

In [ ]:
funct1(1,[2,3,55,"S"],"MSN21",a=[2,3],b=[3,4],c=[2.3,3,4,4,6],d="msn",e=True)

[[2, 3, 55, 'S'], [2, 3], [3, 4], [2.3, 3, 4, 4, 6]]

In [ ]:
a

str

In [ ]:
def function2(*args):
  new_dic={}
  for i in args:
    if type(i)in new_dic:
      new_dic[type(i)].append(i)
    else:
      new_dic[type(i)]=[i]
  return new_dic


function2("a",[1,3,"b"],[2],3+3j)

{complex: [(3+3j)], list: [[1, 3, 'b'], [2]], str: ['a']}